In [49]:
import pandas as pd , numpy as np

In [50]:
df = pd.read_csv("Marketing_Analysis.csv" , skiprows=2)

In [51]:
df.head()

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

In [52]:
df.tail()

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
45206,45207,51.0,60000,825,married,"technician,tertiary",yes,no,no,no,cellular,17,"nov, 2017",16.2833333333333 min,3,-1,0,unknown,yes
45207,45208,71.0,55000,1729,divorced,"retired,primary",yes,no,no,no,cellular,17,"nov, 2017",7.6 min,2,-1,0,unknown,yes
45208,45209,72.0,55000,5715,married,"retired,secondary",yes,no,no,no,cellular,17,"nov, 2017",18.7833333333333 min,5,184,3,success,yes
45209,45210,57.0,20000,668,married,"blue-collar,secondary",yes,no,no,no,telephone,17,"nov, 2017",8.46666666666667 min,4,-1,0,unknown,no
45210,45211,37.0,120000,2971,married,"entrepreneur,secondary",yes,no,no,no,cellular,17,"nov, 2017",6.01666666666667 min,2,188,11,other,no

In [53]:
df.drop(['customerid','default','previous','pdays'] ,axis=1 ,inplace=True)

In [54]:
df

,age,salary,balance,marital,jobedu,targeted,housing,loan,contact,day,month,duration,campaign,poutcome,response
0,58.0,100000,2143,married,"management,tertiary",yes,yes,no,unknown,5,"may, 2017",261 sec,1,unknown,no
1,44.0,60000,29,single,"technician,secondary",yes,yes,no,unknown,5,"may, 2017",151 sec,1,unknown,no
2,33.0,120000,2,married,"entrepreneur,secondary",yes,yes,yes,unknown,5,"may, 2017",76 sec,1,unknown,no
3,47.0,20000,1506,married,"blue-collar,unknown",no,yes,no,unknown,5,"may, 2017",92 sec,1,unknown,no
4,33.0,0,1,single,"unknown,unknown",no,no,no,unknown,5,"may, 2017",198 sec,1,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51.0,60000,825,married,"technician,tertiary",yes,no,no,cellular,17,"nov, 2017",16.2833333333333 min,3,unknown,yes
45207,71.0,55000,1729,divorced,"retired,primary",yes,no,no,cellular,17,"nov, 2017",7.6 min,2,unknown,yes
45208,72.0,55000,5715,married,"retired,secondary",yes,no,no,cellular,17,"nov, 2017",18.7833333333333 min,5,success,yes
45209,57.0,20000,668,married,"blue-collar,secondary",yes,no,no,telephone,17,"nov, 2017",8.46666666666667 min,4,unknown,no
45210,37.0,120000,2971,married,"entrepreneur,secondary",yes,no,no,cellular,17,"nov, 2017",6.01666666666667 min,2,other,no

In [55]:
df.dtypes

age         float64
salary        int64
balance       int64
marital      object
jobedu       object
targeted     object
housing      object
loan         object
contact      object
day           int64
month        object
duration     object
campaign      int64
poutcome     object
response     object
dtype: object

In [56]:
df.isna().sum()

age         20
salary       0
balance      0
marital      0
jobedu       0
targeted     0
housing      0
loan         0
contact      0
day          0
month       50
duration     0
campaign     0
poutcome     0
response    30
dtype: int64

In [57]:
df=df[~ df.age.isnull()].copy()

In [58]:
df.dtypes

age         float64
salary        int64
balance       int64
marital      object
jobedu       object
targeted     object
housing      object
loan         object
contact      object
day           int64
month        object
duration     object
campaign      int64
poutcome     object
response     object
dtype: object

In [59]:
df.isnull().sum()

age          0
salary       0
balance      0
marital      0
jobedu       0
targeted     0
housing      0
loan         0
contact      0
day          0
month       50
duration     0
campaign     0
poutcome     0
response    30
dtype: int64

In [60]:
from pandas._libs.hashtable import mode
df = df['month'].fillna(mode)

In [61]:
df.isnull().sum()

0